html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background: #f4f4f4;
}

.content-container {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
h1 {
    background: grey url(HTsenterhallläbipaistev.png)no-repeat;
    background-position: 20px center;
    background-size: 200px 50px;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
    
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;

}


table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: grey;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


form {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="radio"] {
    margin-right: 10px;
}

#messageAvatav, #messageMittenähtav {
    width: 68%;
    margin: 10px 0;
    padding: 10px;
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}

button {
    background-color: yellowgreen;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%;
        margin: auto;
    }

    table {
        display: block;
        overflow-x: auto;
    }
}